<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css">
    <title>AI Generated Blog</title>
</head>
<body>
    <header class="">
        <img class="object-cover w-full max-h-96" src="https://wallpapers.com/images/hd/workspace-blogging-backdrop-df8r8jlb6kyrceaf.jpg" alt="work desk">
    </header>

    <!-- list of articles -->

    <div class="max-w-2xl mx-auto flex flex-col justify-center items-center divide-y px-5 my-10">
        <article class="flex flex-col py-6">
            <h2 class="leading-tight text-xl font-bold">How to find ideas for your pet-project?</h2>
            <p class="text-sm font-light my-2">Five easy steps for brainstorm and ispiration!</p>
            <p class="text-xs text-gray-400 italic">Posted by <span class="font-bold">Stuart Little</span> on January 13, 2023</p>
        </article>

        <article class="flex flex-col py-6">
            <h2 class="leading-tight text-xl font-bold">How to find ideas for your pet-project?</h2>
            <p class="text-sm font-light my-2">Five easy steps for brainstorm and ispiration!</p>
            <p class="text-xs text-gray-400 italic">Posted by <span class="font-bold">Stuart Little</span> on 13 January, 2023</p>
        </article>

        <article class="flex flex-col py-6">
            <h2 class="leading-tight text-xl font-bold">How to find ideas for your pet-project?</h2>
            <p class="text-sm font-light my-2">Five easy steps for brainstorm and ispiration!</p>
            <p class="text-xs text-gray-400 italic">Posted by <span class="font-bold">Stuart Little</span> on 13 January, 2023</p>
        </article>

        <article class="flex flex-col py-6">
            <h2 class="leading-tight text-xl font-bold">How to find ideas for your pet-project?</h2>
            <p class="text-sm font-light my-2">Five easy steps for brainstorm and ispiration!</p>
            <p class="text-xs text-gray-400 italic">Posted by <span class="font-bold">Stuart Little</span> on 13 January, 2023</p>
        </article>
    </div>

    
</body>
</html>